
html {
	//setting base font size for rem
	font-size: calc(10px + 0.4vw);

}

body {
	//making horizontally scrollable for 350px and below widths
    @media screen and (min-width: $min-viewport-width){
        overflow-x: hidden;
    } 

    min-width: $min-viewport-width;
	margin: 0rem;
	padding: 0rem;
    background-color: $color-lightgrey;
	font-family:  'Roboto',-apple-system, BlinkMacSystemFont, 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;    
	-moz-osx-font-smoothing: grayscale; 
    color: white;	
} 
  
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.container-fluid {
	margin: 4rem 0rem;
    padding: 0rem;  
}
  
h1 {
	margin: 5rem 0rem 3rem 0rem;
	color: $color-red;
	font-size: 4.5rem;
	font-weight: bold;
	font-family: 'Libre Caslon Text';
	text-align: center;
}

.row {
	width: 100%;
	margin: 0rem;
	padding: 1.5rem 0rem;
	justify-content: center;
} 

.total-neos-panel, .chart-panel, .table-panel {
	width: 100%;
	height: 100%;
	background-color: $color-darkgrey;
	border-radius: 0.8rem;
}

.total-neos-col {
	@media only screen and (max-width: 991px){
		height: 20rem;
		margin: 0rem 0rem 3rem 0rem;
	}

	@media only screen and (min-width: 992px){
		height: 22rem;
		margin: 0rem;
	}

	padding: 0rem;

	.total-neos-panel {
		@include centered;
		text-align: center;
		padding: 2rem;

		.neos-sum {
			margin-bottom: 1rem;
			color: $color-red;
			font-family: 'Jetbrains Mono';
			font-size: 6rem;
			line-height: 6rem;
		}

		.small-text {
			color: white;
		    font-size: 1.56rem;
			line-height: 1.56rem;
		}
	}
}

.chart-col {
	@media only screen and (max-width: 991px){
		height: 30rem;
		padding: 0rem;
		
	}
	
	@media only screen and (min-width: 992px){
		padding: 0rem 0rem 0rem 2.5rem;	
		height: 22rem;
	}
	
	margin: 0rem;
   
  
	.chart-panel {
		@include centered;
	}
   
    .chart-wrapper {
        width: 70%;
        height: 70%;
		@include centered;
    }
}

.table-col {
	height: 40rem;
	margin: 0rem;
	padding: 0rem;
	
	.table-panel {
		@include centered;
	}

	.table-wrapper {
        width: 80%;
		height: 80%;
		overflow: auto;
	
		.neos-table {
			text-align: center;
			font-family: 'Roboto';
			color: white;
			
			/* setting font sizes for different screen sizes */
			@media only screen and (max-width: $min-viewport-width){
				font-size: 10px;
			}

			@media only screen 
			and (min-width: calc(#{$min-viewport-width} + 1px)
			and (max-width: 576px)){
				font-size: 12px;
			}

			@media only screen and (min-width: 768px){
				font-size: 14px;
			}
		}
	}

	table, thead {
		border-collapse: separate;
	}

	thead {
		position: sticky;
		top: 0;
		border-color: $color-red;
		background-color: $color-red;
		
		.table-heading-row {
			margin: 0rem;
			padding: 0rem;
			color: white;
		
			th {
				padding: 0.7em 3em;
				font-weight: 300;
			}
		}
	}
	
	tbody {
		margin: 0rem;
		border: solid rgba(154, 28, 47, 0) 0px;

		.table-body-row:nth-child(even) {
			background-color: $color-lightgrey;
		}

		td {
			font-weight: 100;
		}
	}
	
	tr {
		margin: 0rem;
		vertical-align: middle;
	}

	
}

/* styling scrollbars */
::-webkit-scrollbar {
	width: 1.2rem;
}

::-webkit-scrollbar-track, 
::-webkit-scrollbar-corner  {
	background-color: $color-lightgrey;
}

::-webkit-scrollbar-thumb {
	border: solid $color-lightgrey 0.2rem;
	background: rgba(154, 28, 47, 0.7); 
	border-radius: 4rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: $color-red;	
}


